
@{
    ViewBag.Title = "Order list";
}


<style>
    .child-heading {
        padding: 2% 0 2% 6%;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
    }

    .alert-warning, .alert-success, .alert-danger {
        padding: 0 6px 0 6px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> Your Orders</h1>
    </div>
    <div class="row">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:10%"></th>
                    <th style="width:10%">Order Name</th>
                    <th style="width:15%">Date</th>
                    <th style="width:12%">Total items</th>
                    <th style="width:13%">Sales Price($)</th>
                    <th style="width:13%">Sales Price(RNB)</th>
                    <th style="width:10%">Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script>

        function format(d) {
            var html = '<div class="child-heading">All payments information of ' + d.CreatedDate + '</div><table cellpadding="5" cellspacing="0" border="0" style="margin-left:5%;width:90%;    border: 1px solid #eee;margin-bottom: 2%;"><tr><th>Name</th><th>Amount</th><th>Payment date</th><th>Status</th></tr>';
            html += '<tr>' +
        '<td>Merchant 2</td>' +
        '<td>$5000.00</td>' +
        '<td>05/13/2018</td>' +
        '<td><label class="alert-warning">Pending</label></td>' +
    '</tr>' +
        '<tr>' +
            '<td>Customer 1</td>' +
            '<td>$1000.00</td>' +
            '<td>05/12/2018</td>' +
            '<td><label class="alert-warning">Pending</label></td>' +
        '</tr>' +
        '<tr>' +
            '<td>Customer 1</td>' +
            '<td>$15,000.00</td>' +
            '<td>05/07/2018</td>' +
            '<td><label class="alert-success">Complete</label></td>' +
        '</tr>';
            html += '</table>';
            return html;
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": "@Url.Action("GetSupplierOrderList","Order")",
                "columns": [
                    {
                        "className": '',
                        "orderable": false,
                        "data": null,
                        'render': function (data, type, full, meta) {
                            return '<a href="/Order/SuppliersOrderLineItemList/' + data.SupplierOrderId + '"><button class="btn btn-primary"><i class="fa fa-edit"></i> Details</button></a>';
                        }
                    },
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        'render': function (data, type, full, meta) {
                            return '<button class="btn btn-success"><i class="fa fa-plus-circle"></i> Payment</button>';
                        }
                    },
                    { "data": "Prefix" },
                    { "data": "CreatedOn" },
                    { "data": "Quantity" },
                    { "data": "DollerSalesTotal" },
                    { "data": "RmbSalesTotal" },
                    {
                        "className": 'order-status',
                        "orderable": false,
                        "data": null,
                        'render': function (data, type, full, meta) {
                            if (data.Status == 1)
                                return '<label class="label label-primary"><i class="fa fa-plane"></i> Draft</label>';
                            else if (data.Status == 4)
                                return '<label class="lable-danger lable"><i class="fa fa-times-circle"></i> Canceled</label>';
                            else if (data.Status == 3)
                                return '<label class="label label-success"><i class="fa fa-check-square-o"></i> Complete</label>';
                            else if (data.Status == 2)
                                return '<label class="label label-default"><i class="fa fa-spinner"></i> In Process</label>';
                            else
                                return '';
                        }
                    }

                ],
                "order": [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    tr.removeClass('shown');
                    row.child.hide();
                    tr.find(".details-control").find(".btn").html("<i class='fa fa-plus-circle'></i> Payment");
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.find(".details-control").find(".btn").html("<i class='fa fa-minus-circle'></i> Payment");
                    tr.addClass('shown');
                }
            });
        });
    </script>
}

